In [4]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, model_selection
import pandas as pd
import matplotlib.pyplot as plt


'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''


# https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls
df = pd.read_csv('datasets/titanic.csv')

original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, max_iter=300,
          min_bin_freq=1, n_jobs=None, seeds=None)

In [6]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_
original_df['cluster_group']=np.nan
for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

C:\Users\Administer\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

{0: 0.3645320197044335, 1: 0.6296296296296297, 2: 1.0, 3: 0.6666666666666666, 4: 0.1, 5: 0.0}

In [8]:
print(original_df[(original_df['cluster_group']==1)])

     pclass  survived                                               name  \
3       1.0       0.0               Allison, Mr. Hudson Joshua Creighton
16      1.0       0.0                           Baxter, Mr. Quigg Edmond
17      1.0       1.0    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23      1.0       1.0                              Bidois, Miss. Rosalie
57      1.0       1.0          Carter, Mrs. William Ernest (Lucile Polk)
78      1.0       1.0  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
97      1.0       1.0  Douglas, Mrs. Frederick Charles (Mary Helene B...
103     1.0       1.0                      Endres, Miss. Caroline Louise
115     1.0       0.0                                  Fortune, Mr. Mark
116     1.0       1.0                Fortune, Mrs. Mark (Mary McDougald)
138     1.0       0.0                          Graham, Mr. George Edward
139     1.0       1.0      Graham, Mrs. William Thompson (Edith Junkins)
215     1.0       0.0                         Newell, Mr. Arthur Webster
233     1.0       1.0      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
238     1.0       1.0  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
252     1.0       0.0                         Ryerson, Mr. Arthur Larned
253     1.0       1.0    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
273     1.0       1.0                    Spedden, Master. Robert Douglas
274     1.0       1.0                       Spedden, Mr. Frederic Oakley
285     1.0       0.0                                 Straus, Mr. Isidor
294     1.0       0.0                           Thayer, Mr. John Borland
309     1.0       1.0                           Wick, Miss. Mary Natalie
311     1.0       1.0         Wick, Mrs. George Dennick (Mary Hitchcock)
312     1.0       0.0                         Widener, Mr. George Dunton
313     1.0       0.0                          Widener, Mr. Harry Elkins
314     1.0       1.0       Widener, Mrs. George Dunton (Eleanor Elkins)
342     2.0       1.0   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)

        sex   age  sibsp  parch    ticket      fare            cabin embarked  \
3      male  30.0    1.0    2.0    113781  151.5500          C22 C26        S
16     male  24.0    0.0    1.0  PC 17558  247.5208          B58 B60        C
17   female  50.0    0.0    1.0  PC 17558  247.5208          B58 B60        C
23   female  42.0    0.0    0.0  PC 17757  227.5250              NaN        C
57   female  36.0    1.0    2.0    113760  120.0000          B96 B98        S
78   female  64.0    0.0    2.0  PC 17756   83.1583              E45        C
97   female  27.0    1.0    1.0  PC 17558  247.5208          B58 B60        C
103  female  38.0    0.0    0.0  PC 17757  227.5250              C45        C
115    male  64.0    1.0    4.0     19950  263.0000      C23 C25 C27        S
116  female  60.0    1.0    4.0     19950  263.0000      C23 C25 C27        S
138    male  38.0    0.0    1.0  PC 17582  153.4625              C91        S
139  female  58.0    0.0    1.0  PC 17582  153.4625             C125        S
215    male  58.0    0.0    2.0     35273  113.2750              D48        C
233  female  56.0    0.0    1.0     11767   83.1583              C50        C
238  female  43.0    0.0    1.0     24160  211.3375               B3        S
252    male  61.0    1.0    3.0  PC 17608  262.3750  B57 B59 B63 B66        C
253  female  48.0    1.0    3.0  PC 17608  262.3750  B57 B59 B63 B66        C
273    male   6.0    0.0    2.0     16966  134.5000              E34        C
274    male  45.0    1.0    1.0     16966  134.5000              E34        C
285    male  67.0    1.0    0.0  PC 17483  221.7792          C55 C57        S
294    male  49.0    1.0    1.0     17421  110.8833              C68        C
309  female  31.0    0.0    2.0     36928  164.8667               C7        S
311  female  45.0    1.0    1.0     36928  164.8667              NaN        S
312    male  50.0    1.0    1.0    113503  211.5000              C80        C
313    male  27.0    0.0    2.0    113503  211.5000              C82        C
314  female  50.0    1.0    1.0    113503  211.5000              C80        C
342  female  36.0    0.0    3.0    230136   39.0000               F4        S

    boat   body                           home.dest  cluster_group
3    NaN  135.0     Montreal, PQ / Chesterville, ON            1.0
16   NaN    NaN                        Montreal, PQ            1.0
17     6    NaN                        Montreal, PQ            1.0
23     4    NaN                                 NaN            1.0
57     4    NaN                       Bryn Mawr, PA            1.0
78    14    NaN                        Lakewood, NJ            1.0
97     6    NaN                        Montreal, PQ            1.0
103    4    NaN                        New York, NY            1.0
115  NaN    NaN                        Winnipeg, MB            1.0
116   10    NaN                        Winnipeg, MB            1.0
138  NaN  147.0                        Winnipeg, MB            1.0
139    3    NaN                       Greenwich, CT            1.0
215  NaN  122.0                       Lexington, MA            1.0
233    7    NaN           Mt Airy, Philadelphia, PA            1.0
238    2    NaN                        St Louis, MO            1.0
252  NaN    NaN     Haverford, PA / Cooperstown, NY            1.0
253    4    NaN     Haverford, PA / Cooperstown, NY            1.0
273    3    NaN                     Tuxedo Park, NY            1.0
274    3    NaN                     Tuxedo Park, NY            1.0
285  NaN   96.0                        New York, NY            1.0
294  NaN    NaN                       Haverford, PA            1.0
309    8    NaN                      Youngstown, OH            1.0
311    8    NaN                      Youngstown, OH            1.0
312  NaN    NaN                     Elkins Park, PA            1.0
313  NaN    NaN                     Elkins Park, PA            1.0
314    4    NaN                     Elkins Park, PA            1.0
342   11    NaN  Guntur, India / Benton Harbour, MI            1.0

In [25]:
print(original_df[(original_df['cluster_group']==4)])

      pclass  survived                                               name  \
629      3.0       0.0                        Andersson, Mr. Anders Johan
632      3.0       0.0  Andersson, Mrs. Anders Johan (Alfrida Konstant...
644      3.0       0.0         Asplund, Mr. Carl Oscar Vilhelm Gustafsson
646      3.0       1.0  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
831      3.0       0.0                     Goodwin, Mr. Charles Frederick
832      3.0       0.0            Goodwin, Mrs. Frederick (Augusta Tyler)
1106     3.0       0.0             Panula, Mrs. Juha (Maria Emilia Ojala)
1146     3.0       0.0               Rice, Mrs. William (Margaret Norton)
1179     3.0       0.0                              Sage, Mr. John George
1180     3.0       0.0                     Sage, Mrs. John (Annie Bullen)

         sex   age  sibsp  parch    ticket     fare cabin embarked boat  \
629     male  39.0    1.0    5.0    347082  31.2750   NaN        S  NaN
632   female  39.0    1.0    5.0    347082  31.2750   NaN        S  NaN
644     male  40.0    1.0    5.0    347077  31.3875   NaN        S  NaN
646   female  38.0    1.0    5.0    347077  31.3875   NaN        S   15
831     male  40.0    1.0    6.0   CA 2144  46.9000   NaN        S  NaN
832   female  43.0    1.0    6.0   CA 2144  46.9000   NaN        S  NaN
1106  female  41.0    0.0    5.0   3101295  39.6875   NaN        S  NaN
1146  female  39.0    0.0    5.0    382652  29.1250   NaN        Q  NaN
1179    male   NaN    1.0    9.0  CA. 2343  69.5500   NaN        S  NaN
1180  female   NaN    1.0    9.0  CA. 2343  69.5500   NaN        S  NaN

       body                             home.dest  cluster_group
629     NaN                   Sweden Winnipeg, MN            4.0
632     NaN                   Sweden Winnipeg, MN            4.0
644   142.0                 Sweden  Worcester, MA            4.0
646     NaN                 Sweden  Worcester, MA            4.0
831     NaN  Wiltshire, England Niagara Falls, NY            4.0
832     NaN  Wiltshire, England Niagara Falls, NY            4.0
1106    NaN                                   NaN            4.0
1146  327.0                                   NaN            4.0
1179    NaN                                   NaN            4.0
1180    NaN                                   NaN            4.0