In [1]:
import pandas as pd
df = pd.read_csv('datasets/diamonds.csv', index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [2]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [3]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
# df['cut'].astype('category').cat.codes

In [5]:
cut_class_dict = {"Fair": 1, "Good": 2, "Very Good": 3, "Premium": 4, "Ideal": 5}
clarity_dict = {"I3": 1, "I2": 2, "I1": 3, "SI2": 4, "SI1": 5, "VS2": 6, "VS1": 7, "VVS2": 8, "VVS1": 9, "IF": 10, "FL": 11}
color_dict = {"J": 1,"I": 2,"H": 3,"G": 4,"F": 5,"E": 6,"D": 7}

df['cut'] = df['cut'].map(cut_class_dict)
df['clarity'] = df['clarity'].map(clarity_dict)
df['color'] = df['color'].map(color_dict)

df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    5      6        4   61.5   55.0    326  3.95  3.98  2.43
2   0.21    4      6        5   59.8   61.0    326  3.89  3.84  2.31
3   0.23    2      6        7   56.9   65.0    327  4.05  4.07  2.31
4   0.29    4      2        6   62.4   58.0    334  4.20  4.23  2.63
5   0.31    2      1        4   63.3   58.0    335  4.34  4.35  2.75

In [6]:
import sklearn
from sklearn import svm, preprocessing

df = sklearn.utils.shuffle(df)

X = df.drop('price', axis=1).values
X = preprocessing.scale(X)
y = df['price'].values

test_size = 200

X_train = X[:-test_size]
y_train = y[:-test_size]

X_test = X[-test_size:]
y_test = y[-test_size:]

In [7]:
X

array([[-1.05049061,  0.08588908,  0.34930404, ..., -1.31148362,
        -1.26477147, -1.27354907],
       [ 0.531765  ,  0.08588908, -0.8264134 , ...,  0.85477378,
         0.76653146,  0.59695453],
       [-0.81842646, -0.80969515,  1.52502147, ..., -0.91032484,
        -0.87952436, -0.74924124],
       ...,
       [-0.98720039,  0.98147332, -0.23855468, ..., -1.15102011,
        -1.10717038, -1.0893328 ],
       [ 0.55286174, -0.80969515, -1.41427211, ...,  0.82802986,
         0.92413255,  0.56861357],
       [ 1.48111837,  0.98147332, -0.23855468, ...,  1.39856679,
         1.33564651,  1.44718345]])

In [8]:
%%time

clf_linear = svm.SVR(kernel='linear')
clf_linear.fit(X_train, y_train)

Wall time: 1min 26s

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [9]:
clf_linear.score(X_test, y_test)

0.8786444874568768

In [25]:
a=0
for X, y in zip(X_test, y_test):
    if(abs((clf_linear.predict([X])[0]-y)/y)<0.1):
        print(f"Model: {clf_linear.predict([X])[0]}, Actual: {y}")
        a+=1

print(a)

Model: 4353.7368938294185, Actual: 4195
Model: 5214.4637249299785, Actual: 4995
Model: 3715.227122508273, Actual: 3746
Model: 5416.667332645061, Actual: 4953
Model: 1280.280815145963, Actual: 1289
Model: 5437.080300343694, Actual: 5315
Model: 693.6952694025936, Actual: 668
Model: 2330.10328176608, Actual: 2131
Model: 8391.746845228421, Actual: 7707
Model: 1721.9177455242068, Actual: 1656
Model: 2401.8240947056693, Actual: 2184
Model: 4522.31408909583, Actual: 4859
Model: 4147.2349857302015, Actual: 4128
Model: 1022.1145996409291, Actual: 975
Model: 3182.0436254763135, Actual: 2959
Model: 2799.0077164014115, Actual: 2771
Model: 5337.836367309844, Actual: 4969
Model: 1776.7784343149697, Actual: 1764
Model: 4326.562951219961, Actual: 4079
Model: 2786.6076296871724, Actual: 2615
Model: 1340.7705850044335, Actual: 1436
Model: 938.6852946739273, Actual: 1035
Model: 4522.605598521954, Actual: 4258
Model: 850.7023765368263, Actual: 775
Model: 4852.237289743548, Actual: 5292
Model: 5010.029335456873, Actual: 5140
Model: 978.8882632570544, Actual: 961
Model: 1635.9638621113077, Actual: 1662
Model: 10118.796743825696, Actual: 11113
Model: 13729.771344387118, Actual: 13701
Model: 975.5867941372671, Actual: 1041
Model: 5759.261599725969, Actual: 6232
Model: 851.9747609288647, Actual: 800
Model: 5042.53773967597, Actual: 5198
Model: 5909.178400089751, Actual: 6468
Model: 2798.561950904796, Actual: 2575
Model: 5014.192122583358, Actual: 5299
Model: 12185.788372145036, Actual: 11851
Model: 1995.6548965466623, Actual: 2012
Model: 738.5858522552112, Actual: 707
Model: 1576.6710311616755, Actual: 1643
Model: 5389.0727395724425, Actual: 5294
Model: 5691.760628473119, Actual: 5193
Model: 6428.1447619823375, Actual: 7125
Model: 5845.441565070021, Actual: 6095
Model: 8328.561777932748, Actual: 7862
Model: 3873.0557071746234, Actual: 3537
Model: 516.6278079543235, Actual: 552
Model: 3129.069458435065, Actual: 3265
Model: 5290.121908447149, Actual: 4861
Model: 1548.633516066274, Actual: 1429
Model: 1336.834881710416, Actual: 1436
Model: 11213.458717694473, Actual: 12342
Model: 1634.837076193872, Actual: 1687
Model: 4900.56343894259, Actual: 4478
Model: 4107.535441070331, Actual: 3750
Model: 5340.650914240258, Actual: 5370
Model: 3187.212312442439, Actual: 3277
Model: 1885.372728375914, Actual: 1815
Model: 5216.782686952947, Actual: 4755
Model: 2886.313612387882, Actual: 2902
Model: 2578.1499494988316, Actual: 2351
Model: 733.478512048071, Actual: 807
Model: 1166.3685578358736, Actual: 1133
Model: 2107.8837603199063, Actual: 2141
Model: 5329.804633049115, Actual: 5293
66

In [11]:
%%time

clf_RBF = svm.SVR(kernel='rbf')
clf_RBF.fit(X_train, y_train)

Wall time: 2min 7s

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [12]:
clf_RBF.score(X_test, y_test)

0.6477174027255886

In [24]:
b=0
for X, y in zip(X_test, y_test):
    if(abs((clf_RBF.predict([X])[0]-y)/y)<0.1):
        print(f"Model: {clf_RBF.predict([X])[0]}, Actual: {y}")
        b+=1
        
print(b)

Model: 545.0471535436209, Actual: 544
Model: 3951.5418421659824, Actual: 4195
Model: 3183.7619908342413, Actual: 2903
Model: 5321.461858769804, Actual: 4995
Model: 578.1176150329716, Actual: 579
Model: 3520.608803290186, Actual: 3746
Model: 5441.8306890416725, Actual: 5315
Model: 671.8283161629588, Actual: 737
Model: 2282.136256689139, Actual: 2131
Model: 2159.02958402091, Actual: 2184
Model: 3881.214188162649, Actual: 4128
Model: 940.0052391472127, Actual: 975
Model: 3078.0708856415167, Actual: 2959
Model: 2791.1537752045706, Actual: 2771
Model: 4183.336414298105, Actual: 3932
Model: 5253.315864997296, Actual: 4969
Model: 4065.191846448627, Actual: 4079
Model: 1088.8942884611388, Actual: 1153
Model: 1389.0114684439607, Actual: 1436
Model: 4302.877219795027, Actual: 4258
Model: 4878.108534860116, Actual: 5140
Model: 956.9594623341168, Actual: 1035
Model: 1456.02602510444, Actual: 1385
Model: 2393.668983985262, Actual: 2254
Model: 5143.118660304516, Actual: 4791
Model: 1039.9710718848978, Actual: 1125
Model: 6035.753337786802, Actual: 6232
Model: 3154.653824517176, Actual: 2873
Model: 6072.280565242438, Actual: 6617
Model: 751.027691478912, Actual: 800
Model: 939.1322784079989, Actual: 912
Model: 2573.779804378204, Actual: 2575
Model: 3774.938524997053, Actual: 4032
Model: 4867.3049888121195, Actual: 5299
Model: 2012.2211048587599, Actual: 2012
Model: 5590.560072912112, Actual: 5294
Model: 1755.8139198446324, Actual: 1774
Model: 1504.3859377450215, Actual: 1441
Model: 5948.97060987942, Actual: 6095
Model: 2125.7855636754493, Actual: 1944
Model: 3493.110305735468, Actual: 3676
Model: 4913.7639989652, Actual: 4539
Model: 4281.104937863973, Actual: 4038
Model: 3856.6461165477813, Actual: 3537
Model: 3396.322789164243, Actual: 3267
Model: 2593.6533022821804, Actual: 2565
Model: 1726.3026976951926, Actual: 1582
Model: 903.1028847822249, Actual: 868
Model: 6662.6903358420295, Actual: 6511
Model: 1440.9369007353978, Actual: 1440
Model: 4426.547716654095, Actual: 4861
Model: 1482.6264385082193, Actual: 1429
Model: 1372.3721301102723, Actual: 1436
Model: 2315.15889091005, Actual: 2510
Model: 4481.466364685522, Actual: 4478
Model: 841.8368730815596, Actual: 801
Model: 3901.9892108014246, Actual: 3750
Model: 796.4453118648689, Actual: 803
Model: 2182.4379408051855, Actual: 2271
Model: 5521.872519416542, Actual: 5370
Model: 2982.4347172200874, Actual: 3277
Model: 893.6882194641416, Actual: 982
Model: 1729.8886427163004, Actual: 1815
Model: 2918.184700876935, Actual: 2902
Model: 4685.0746941217585, Actual: 5135
Model: 953.0324271321806, Actual: 1007
Model: 2393.92999168311, Actual: 2351
Model: 1073.3142736664317, Actual: 1133
Model: 2292.6925958703505, Actual: 2141
Model: 1998.4666792560802, Actual: 2141
Model: 1660.982315486937, Actual: 1612
71